body {
    background: #a82f2f;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fef3ea;
  }

  #logo{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }

.button {
    background-color: black;
    border-radius: 5px;
    color: #fef3ea;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;/*gets rid of underline*/
    display: inline-block;
    font-size: 15px;
    margin: 1em 0px;
}

.button:hover {
    background-color: rgb(115, 11, 11);
}

.active {
    background-color: rgb(115, 11, 11);
}

.space {
  margin-right: 200px;
}

.submit {
  background-color: black;
  border-radius: 5px;
  color: #fef3ea;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;/*gets rid of underline*/
  display: inline-block;
  font-size: 12px;
  margin: 1em 0px;
}