<body>
  <nav>
    <ul>
      <li><a [routerLink]="['/home']" routerLinkActive="active" ariaCurrentWhenActive="page" class="button">Home</a></li>
      <li><a [routerLink]="['/search']" routerLinkActive="active" ariaCurrentWhenActive="page" class="button">Search</a></li>
      <li><a [routerLink]="['/trends']" class="button active">Trends</a></li>
    </ul>
  </nav>

 <h2>Trends</h2>
 <p>
    The visual shows the different counties in Charlotte and how their housing prices differed throughout the years.
    As shown in the graph it can be seen that during 2020 property values went down due to covid.
    The overall trend seems to be that property prices have gone up in the last 2 years mostly because of covid and how unexpected it was.
    The different counties can also show insights on where the investors should try to purchase property in. For example, if a certain counties
    property prices went down, they would be able to purchase that, and then when the property value goes back up they can sell it.
</p>
 <div>
  <img class="image" src="/assets/trends.png" alt="trends">
</div>


</body>

